body {
  margin: 0;
  padding: 0;
  background: #c2391a;
}

.eyes {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  z-index: 3;
}
.eye {
  width: 240px;
  height: 120px;
  background: #fff;
  display: inline-block;
  margin: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: solid #000, 10px;
}
.ball {
  width: 80px;
  height: 80px;
  background: rgb(234, 226, 63);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.slit {
  width: 20px;
  height: 80px;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.mouth{
position: absolute;
left: 25%;
top: 50%;
width: 55%;
height: 35%;
background-color:#c2391a;
border-radius: 100%;
border-bottom: solid 20px #000;
bottom: 30px;
z-index: 1;
}
.nostrils{
  position: absolute;
  top: 50%;
  width: 10px;
  height: 40px;
  background: black;
  border-radius: 50%;
  z-index: 2;
  display: inline-block;
  margin: 20px;
  text-align: center;
}
.left-nostril{
  left: 40%;
}
.right-nostril{
  left: 60%;
}